apiVersion: apps/v1
kind: Deployment
metadata:
  name: namespace-operator
  namespace: namespace-operator-system
  labels:
    app: namespace-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: namespace-operator
  template:
    metadata:
      labels:
        app: namespace-operator
    spec:
      serviceAccountName: namespace-operator-controller-manager

      containers:
      - name: manager
        image: docker.io/baabdoul/namespace-operator:0.2.0
        imagePullPolicy: Always

        command:
        - /manager

        args:
        - "--leader-elect"
        - "--health-probe-bind-address=:8081"
        - "--metrics-bind-address=:8080"

        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name

        ports:
        - name: metrics
          containerPort: 8080
        - name: health
          containerPort: 8081

        livenessProbe:
          httpGet:
            path: /healthz
            port: health
          initialDelaySeconds: 15
          periodSeconds: 20

        readinessProbe:
          httpGet:
            path: /readyz
            port: health
          initialDelaySeconds: 5
          periodSeconds: 10

        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 256Mi

        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL
