name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  go-tools:
    name: Install Go tools
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Prepare PATH
        run: |
          mkdir -p .bin
          echo "$PWD/.bin" >> $GITHUB_PATH

      - name: Install Go tools via Makefile
        run: make go

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: go-tools

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - run: echo "$PWD/.bin" >> $GITHUB_PATH
      - run: make lint

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - run: echo "$PWD/.bin" >> $GITHUB_PATH
      - run: make build

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - run: echo "$PWD/.bin" >> $GITHUB_PATH
      - run: make test