name: Release Helm Chart

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  helm-release:
    name: Release Helm Chart
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      CHART_PATH: manifests/charts/namespace-operator
      DIST_DIR: dist

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.4

      - name: Lint Helm chart
        run: |
          helm lint $CHART_PATH

      - name: Package Helm chart
        run: |
          mkdir -p $DIST_DIR
          helm package $CHART_PATH --destination $DIST_DIR

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.tgz