name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version
        run: |
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Install yq
        run: sudo snap install yq

      - name: Bump Helm version
        run: |
          ./hack/bump-helm-version.sh ${{ github.ref_name }}

      - name: Commit Helm version
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git commit -am "chore(release): helm ${VERSION}"
          git push

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Package Helm chart
        run: |
          helm package manifests/charts/namespace-operator \
            --destination dist

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.tgz